@media (min-width: 1059px){
    #s-5{
        display: flex !important;
    }
    #s-5-too{
        display: none !important;
    }
}
@media (max-width: 1058px){
    #s-5{
        display: none !important;
    }
    #s-5-too{
        display: flex !important;
    }
}
@media (max-width: 768px){
    #s-1{
        #header-subtext{
            font-size: 12vw !important;
        }
    }

    #s-2{
        #skillsList{
            div{
                h1{
                    line-height: 1.4em !important;
                }
            }
        }
    }
}
@media (max-width: 480px){
    .sleek-txt{
        h1{
            font-size: 5em !important;
            color: white;
            line-height: .5em;
            margin: 0;
        }
        p{
            font-size: 2.5em !important;
            color: white;
            line-height: 1.5em;
            margin: 0;
            overflow: hidden;
        }
    }

    #s-2{
        #skillsList{
            div{
                h1{
                    line-height: 1.8em !important;
                }
            }
        }
    }

    #s-6{
        #interContainer{
            color: #fff;
            #inter{
                opacity: 1;
                font-size: 15vw !important;
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}

.mono{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #000;
}

section{
    margin-bottom: .75em;
    margin: 0;
}

.pl-05vw{
    padding-left: 0.5vw;
}

.pl-1vw{
    padding-left: 1vw;
}

.sleek-txt{
    h1{
        font-size: 8em;
        color: white;
        line-height: .5em;
        margin: 0;
    }
    p{
        font-size: 4em;
        color: white;
        line-height: 1.5em;
        margin: 0;
        overflow: hidden;
    }
}

#s-1{
    overflow: hidden;
    #header-font{
        h1{
            animation: introFade .6s;
            overflow: hidden;
            margin: 0rem;
            font-size: 24vw;
            line-height: .82;
            color: white;
            transition: color .2s ease-in-out;
            -webkit-text-stroke: .1vw whitesmoke;
            cursor: default;
            user-select: none;
        }
    }
    
    #header-subtext{
        opacity: 0;
        font-size: 6.5vw;
        color: transparent !important;
        transition: color .2s ease-in-out;
        -webkit-text-stroke: .1vw whitesmoke;
        user-select: none;

        text-align: end;
        padding-right: 1vw;
        &:hover{
            transition: color .2s ease-in-out;
            cursor: default;
            user-select: none;
        }
    }
}

#s-2{
    background-color: #db434b;
    #sleekDiv {
        position: relative;
        z-index: 2;
        background-color: transparent;
        height: 100vh;
    }
    
    #skillsList{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        overflow: hidden;
        div{
            h1{
                font-size: 18vw;
            }
        }
    }
}

#s-3{
    background-color: #db434b;
}

#s-4{
    padding-top: 25vh;
    padding-bottom: 12vh;
    background-color: #fff;
    .sleek-txt{
        h1{
            color: #212529;
        }
        p{
            color: #212529;
        }
    }
}

#s-5{
    background-color: #fff;
    user-select: none;
    img{
        pointer-events: none;
    }

    .scroll-up{
        width: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .scroll-down{
        width: 50%;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

#s-5-too{
    background-color: #fff;
    flex-direction: column;
    img{
        pointer-events: none;
    }
}

#s-6{
    #interBg{
        font-size: 32vw;
        overflow: hidden;

        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        height: 100%;
        p{
            line-height: 1;
            margin: 0;
            user-select: none;
            -webkit-text-stroke: .1vw rgba($color: rgb(245, 245, 245), $alpha: .2);
            color: transparent;
        }
    }
    #interContainer{
        color: #fff;
        #inter{
            user-select: none;
            text-decoration: none;
            line-height: 1;
            opacity: 1;
            font-size: 16vw;
        }
        #contact{
            user-select: none;
            color: #fff;
            a{
                text-decoration: none;
                border-bottom: #fff solid;
            }
        }
    }
}




//animations / keyframes
@keyframes introFade{
    0%{
        overflow: initial;
        letter-spacing: .5em;
        font-size: 8vw;
        color: transparent;
        opacity: 0;
    }
    60%{
        overflow: hidden;
        letter-spacing: .2em;
        font-size: 8vw;
        color: transparent;
        opacity: 0.4;
    }
    100%{
        letter-spacing: 0em;
        font-size: 24vw;
        color: white;
        opacity: 1;
    }
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}